{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<table class="table table-hover">
			<thead>
				<tr class="table-success" style="border: 1px solid white">
					<th scope="col">Date</th>
					<th scope="col">Plage Horaire</th>
					<th scope="col">Nom Artistes</th>
					<th scope="col">Réservations</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active" style="border: 1px solid white">
					<th scope="row">20/08/2021</th>
					<td>16H-18H</td>
					<td>Demo demo
					</td>
					<td>Reservez une place</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Default</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Primary</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Secondary</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Success</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Danger</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Warning</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Info</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Light</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
				<tr class="table-active" style=" border: 1px solid white">
					<th scope="row">Dark</th>
					<td>Column content</td>
					<td>Column content</td>
					<td>Column content</td>
				</tr>
			</tbody>
		</table>

	</div>
{% endblock %}
