{% extends "base.html.twig" %}

{% block body %}
	<div class="card border-secondary mb-3">
		<div class="card-body">
			<h4 class="card-title">Présentation du festival Technonite</h4>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											 Ut laoreet molestie lacinia. Sed vulputate ex eu imperdiet lacinia. 
											 Nullam eget scelerisque neque, vel lacinia lectus. Nulla ut maximus purus. 
											 Aliquam a ex nec lectus dignissim blandit quis et lorem. In ut pretium justo. 
											 Aliquam posuere iaculis tristique. Quisque finibus dolor a nisi interdum sodales. 
											 Aenean a urna metus. Nullam dictum lectus eget elementum hendrerit. 
											 Sed efficitur non dolor ac placerat. Mauris sed fringilla ligula, ac vulputate ex. 
											 Vivamus vitae blandit risus. Etiam rutrum tortor erat.
											 Etiam diam lectus, consectetur vitae ex eu, placerat lacinia tortor


			</p>
		</div>
	</div>
{% endblock %}
